*.b#*
*.s#*

*.err
*.bak
*.cof
*.err
*.esym
*.lst
*.sta
*.sym
*.tre
*.p1
*.pre
*.p1.d
*.hxl                                                                                                                                                             
*.lst                                                                                                                                                             
*.map                                                                                                                                                             
*.obj                                                                                                                                                             
*.rlf                                                                                                                                                             
*.sdb                                                                                                                                                             
*.sym

*.X.production.hxl
*.X.production.map
*.X.production.obj
*.X.production.rlf
*.X.production.sdb
*.d
